<h1>Product</h1>

<div>
	<% if @product.image.attached? %>
  		<%= image_tag url_for(@product.image) %>
	<% else %>
  		<p>No image available</p>
	<% end %>
</div>
<div>
	Name : <%= @product.name %>
</div>
<div>
	Price : <%= @product.price %>
</div>
